body {
    background-color: #0E1111;
    color: green;
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the body takes up the full viewport height */
    text-align: center; /* Centers the text inside the container */
}

.name {
    text-align: center; /* Centers the text within this div */
}
